AMC/.vs/
AMC/AMC.CollectionHolder/bin/
AMC/AMC.CollectionHolder/obj/
AMC/AMC.MapConfiguration/bin/
AMC/AMC.MapConfiguration/obj/
AMC/AMC.Models/bin/
AMC/AMC.Models/obj/
AMC/AMC/bin/
AMC/AMC/obj/
AMC/packages/
AMC/AMC2O/obj/
AMC/AMC2O/bin/
AMC/DelegateLearning/bin/
AMC/DelegateLearning/obj/
AMC/ExpresisonLearning/obj/
AMC/ExpresisonLearning/bin/
AMC/AutoMapper/bin/
AMC/AutoMapper/obj/
